.main {
  flex: 1;
  display: flex;
  background-color: whitesmoke;
  flex-direction: column;
}

.options {
  /* margin: 0 60px; */
  padding: 3rem 60px 0 60px;
  display: flex;
  justify-content: space-between;
  /* background-color: red; */
}

.countries {
  /* padding: 3rem 0; */
  flex: 1;
  display: flex;
  /* background-color: yellow; */
  flex-flow: row wrap;
  justify-content: center;
}